<div class="giscus-container">
    <script src="https://giscus.app/client.js"
        data-repo="sskartheekadivi/sskartheekadivi.github.io"
        data-repo-id="R_kgDOQat5WQ"
        data-category="[ENTER CATEGORY NAME HERE]"
        data-category-id="[ENTER CATEGORY ID HERE]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
 </div>
