---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="linux" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Linux Kernel Development</h2>
		<p>Developing and upstreaming device drivers (DMA), debugging kernel subsystems, and enabling LTS support on industrial platforms.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="stack" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Embedded Build Systems</h2>
		<p>Maintaing Yocto meta-layers and Debian packages to build reproducible Linux SDKs and filesystem images.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>RTOS & Bare Metal</h2>
		<p>Porting FreeRTOS to Cortex-M/R cores, writing startup code, and implementing low-level peripheral drivers (UART, I2C, SPI).</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
